<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
      <a class="navbar-brand" href="index.html">Furni<span>.</span></a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div *ngIf="isLoged" class="collapse navbar-collapse" id="navbarsFurni">
        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link button" routerLink="/shop">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/orders">Órdenes</a>
          </li>
        </ul>
  
        <ul *ngIf="isLoged" class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
          <li><a class="nav-link button" routerLink="/cart"><img src="./assets/images/cart.svg"></a></li>
          <!-- <li *ngIf="isLoged"><a class="nav-link" href="#"><img src="./assets/images/user.svg"></a></li> -->
          <p class="text-white mt-3">Hola {{userData?.username!}}</p>
          
          <button (click)="logout()" class="btn ml-2">Cerrar sesión</button>
        </ul>
      </div>
    </div>
      
  </nav>
